In [81]:
import random

import pandas as pd
import datetime as datetime

In [111]:
movies_df = pd.read_csv('../input/movies.csv', dtype=str)
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed)
58094,193878,Les tribulations d'une caissière (2011),Comedy
58095,193880,Her Name Was Mumu (2016),Drama
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi
58097,193886,Leal (2018),Action|Crime|Drama

In [112]:
def add_spaces(genres):
  movie_list = f" {genres} "
  return movie_list

def randomly_case(genres):
  genres_list = genres.split('|')
  idx = 1
  all_genres_modified = []
  for genre in genres_list:
    if idx % 3 == 0:
      genre = genre.upper()
      all_genres_modified.append(genre)
    elif idx % 2 == 0:
      genre = genre.lower()
      all_genres_modified.append(genre)
    else:
      all_genres_modified.append(genre)
    idx = idx + 1
  return '|'.join(all_genres_modified)

In [113]:
movies_df_with_bad_genres = movies_df
movies_df_with_bad_genres['genres'] = movies_df_with_bad_genres['genres'].apply(lambda x: randomly_case(x))
movies_df_with_bad_genres['genres'] = movies_df_with_bad_genres['genres'].apply(lambda x: add_spaces(x))

In [114]:
movies_df_with_bad_genres

,movieId,title,genres
0,1,Toy Story (1995),Adventure|animation|CHILDREN|comedy|Fantasy
1,2,Jumanji (1995),Adventure|children|FANTASY
2,3,Grumpier Old Men (1995),Comedy|romance
3,4,Waiting to Exhale (1995),Comedy|drama|ROMANCE
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed)
58094,193878,Les tribulations d'une caissière (2011),Comedy
58095,193880,Her Name Was Mumu (2016),Drama
58096,193882,Flora (2017),Adventure|drama|HORROR|sci-fi
58097,193886,Leal (2018),Action|crime|DRAMA

In [115]:
movies_df_with_bad_genres.to_csv('../input/all_movies.csv',index=False)

In [58]:
movies_df['movie_list'] = movies_df['genres'].apply(lambda x: x.split('|'))

In [59]:
def add_spaces_to_singles(movie_list):
  if len(movie_list) == 1:
    movie_list = [f" {movie_list[0]} "]
  return movie_list

In [70]:
movies_df_with_bad_genres = movies_df
movies_df_with_bad_genres['movie_list'] = movies_df_with_bad_genres['movie_list'].apply(lambda x: add_spaces_to_singles(x))

In [ ]:
def rejoin(list):
  new_genres =
  return

In [72]:
movies_df_with_bad_genres['movie_list'] = movies_df_with_bad_genres['movie_list'].apply(lambda x: y.join('|') for y in x)

AttributeError: 'list' object has no attribute 'join'

In [71]:
movies_df_with_bad_genres.to_csv('../input/all_movies.csv')

In [63]:
movies_df_with_bad_genres = movies_df_with_bad_genres.explode('movie_list')

In [53]:
movies_df_with_bad_genres['movie_list'] = movies_df_with_bad_genres['movie_list'].apply(lambda x: str(x))

In [65]:
movies_df_with_bad_genres.groupby(['movie_list']).agg({'title': lambda x : x.to_list()}).reset_index()

              movie_list                                              title
0    (no genres listed)   [Away with Words (San tiao ren) (1999), Scorpi...
1                Action   [Sudden Death (1995), Fair Game (1995), Under ...
2             Adventure   [Mark of Zorro, The (1940), Macao (1952), Prin...
3             Animation   [Cloudland (1998), Fritz the Cat (1972), Nine ...
4              Children   [Baby-Sitters Club, The (1995), Zeus and Roxan...
5                Comedy   [Father of the Bride Part II (1995), Four Room...
6                 Crime   [Coup de torchon (Clean Slate) (1981), Switchb...
7           Documentary   [Nico Icon (1995), Heidi Fleiss: Hollywood Mad...
8                 Drama   [Nixon (1995), Othello (1995), Dangerous Minds...
9               Fantasy   [Hungarian Fairy Tale, A (Hol volt, hol nem vo...
10            Film-Noir   [Force of Evil (1948), Raw Deal (1948), T-Men ...
11               Horror   [Lord of Illusions (1995), Castle Freak (1995)...
12                 IMAX           [Encounter in the Third Dimension (1999)]
13              Musical   [Meet Me in St. Louis (1944), Gigi (1958), Ins...
14              Mystery   [Moonlight Murder (1936), Five Angles on Murde...
15              Romance   [Modern Affair, A (1995), Jack and Sarah (1995...
16               Sci-Fi   [2010: The Year We Make Contact (1984), Meteor...
17             Thriller   [Jade (1995), Safe (1995), Tie That Binds, The...
18                  War   [Pharaoh's Army (1995), Prisoner of the Mounta...
19              Western   [Wild Bill (1995), Wyatt Earp (1994), Bad Girl...
20                Action  [Heat (1995), GoldenEye (1995), Cutthroat Isla...
21             Adventure  [Toy Story (1995), Jumanji (1995), Tom and Huc...
22             Animation  [Toy Story (1995), Balto (1995), Pocahontas (1...
23              Children  [Toy Story (1995), Jumanji (1995), Tom and Huc...
24                Comedy  [Toy Story (1995), Grumpier Old Men (1995), Wa...
25                 Crime  [Heat (1995), Casino (1995), Money Train (1995...
26           Documentary  [Across the Sea of Time (1995), Martin Lawrenc...
27                 Drama  [Waiting to Exhale (1995), American President,...
28               Fantasy  [Toy Story (1995), Jumanji (1995), City of Los...
29             Film-Noir  [Devil in a Blue Dress (1995), Suture (1993), ...
30                Horror  [Dracula: Dead and Loving It (1995), Copycat (...
31                  IMAX  [Wings of Courage (1995), Across the Sea of Ti...
32               Musical  [Pocahontas (1995), Muppet Treasure Island (19...
33               Mystery  [Copycat (1995), City of Lost Children, The (C...
34               Romance  [Grumpier Old Men (1995), Waiting to Exhale (1...
35                Sci-Fi  [Powder (1995), City of Lost Children, The (Ci...
36              Thriller  [Heat (1995), GoldenEye (1995), Money Train (1...
37                   War  [Richard III (1995), Misérables, Les (1995), B...
38               Western  [Desperado (1995), Legends of the Fall (1994),...

In [69]:
movies_df_with_bad_genres.to_csv('../input/all_movies.csv')

In [9]:
ratings_df = pd.read_csv('../input/ratings.csv', dtype=str)

In [10]:
ratings_df

          userId movieId rating   timestamp
0              1     307    3.5  1256677221
1              1     481    3.5  1256677456
2              1    1091    1.5  1256677471
3              1    1257    4.5  1256677460
4              1    1449    4.5  1256677264
...          ...     ...    ...         ...
27753439  283228    8542    4.5  1379882795
27753440  283228    8712    4.5  1379882751
27753441  283228   34405    4.5  1379882889
27753442  283228   44761    4.5  1354159524
27753443  283228   54286    4.5  1354159718

[27753444 rows x 4 columns]

In [29]:
ratings_df_with_dups = ratings_df

In [30]:
#Randomly select 50k columns and dup them
for i in range(0, 10):
  random_index = random.randint(0, len(ratings_df.index))
  print(random_index)
  row = ratings_df.iloc[random_index]
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row
  ratings_df_with_dups.loc[len(ratings_df_with_dups.index)] = row

16706078
17657698
3411414
26664853
26918058
8324363
18221168
10033094
17769435
26668476

In [28]:
len(ratings_df_with_dups.index) - len(ratings_df_with_dups.drop_duplicates().index)

90

In [33]:
ratings_df_dup_counts = ratings_df_with_dups.groupby(ratings_df_with_dups.columns.tolist()).size().reset_index().\
    rename(columns={0:'records'})

In [90]:
ratings_df_dup_counts.query("records > 1")

          userId movieId rating   timestamp  records
377859    103325      60    2.0  1174701713       18
1743754    11564    1080    4.0  1431983694        9
2018336   117901    4638    2.0  1203477664        2
6065586   154868     933    4.5  1193047235        9
6530085   159011     196    3.0   942070537        2
7784019   170892   61678    2.0  1224056131       18
8834313   180524     532    2.0   845886682       18
8955321   181675    2396    4.0  1225631126       18
9447852   185965   80463    4.5  1419991277       18
11079438   20079    1249    3.0  1388319715        2
15644806  243040    8529    2.5  1467893653        9
16447562  250657    1387    3.0  1097075612        9
16521517  251347    3176    4.0  1129075821        9
18623044  270458    3116    3.0  1085843723        9
18822173  272272    2455    4.0   974869255       18
18825746  272297  128099    4.0  1493398797       18
19106507  274896    1022    4.0   860067382       18
19497742  278355    1625    4.0  1452464966        9
19513953  278492    1017    3.0   965357472        2
19806863  281073     306    4.0  1147207253        2
20758949   35053    1222    2.0   999805921       18
21040401   37638     543    3.0  1109369900        9
23083452   56609    4995    4.0  1530552680        2
23371596   59314  112138    3.5  1478892740        2
23654742   61728   60943    2.5  1244341758        2
24660680   70940     168    4.0  1045800178        9
26234026   85755     590    3.0   832816076       18
26359820   86944   91658    4.0  1487964707        2
26845978   91598      50    3.5  1092412818        9
27145177   94340   40815    3.0  1343152481        2

In [38]:
import numpy as np


def get_some_sources():
  sources = ['rotten tomatoes', 'imdb', 'google', 'movieratings.com', np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, '', '', '']
  return random.choice(sources)

In [39]:
ratings_df_with_dups['source'] = ratings_df_with_dups.apply(lambda x: get_some_sources(), axis=1)

In [67]:
ratings_df_with_dups.sample(20)

          userId movieId rating   timestamp            source
2521866    25984     356    3.5  1455132215   rotten tomatoes
19400520  198124     780    4.0  1122251792               NaN
19741218  201415    2478    3.5  1225245764
10360292  106531    1291    4.5  1225164311               NaN
20299776  206960     780    4.0  1325100317               NaN
1603655    16287     203    4.0   846592538            google
6073184    62355     736    4.0   838716985               NaN
11110667  114058    4344    1.0  1006977976               NaN
7476145    76997    1986    0.5  1071631087              imdb
26015531  265685      65    2.5  1398716807   rotten tomatoes
21899386  223658   46335    4.0  1518797699
847168      8520    5507    5.0  1173397725  movieratings.com
10315386  106125    3114    4.0  1473599322               NaN
19086921  194730      28    4.0   848999324               NaN
23967359  244937    2541    3.0   975224510               NaN
2834654    29296      95    4.0   851098963               NaN
7231574    74287    1993    1.0   964740937            google
12849814  131553   45517    4.0  1441779672               NaN
848832      8527   71254    2.0  1366986220               NaN
2128863    21844    8974    5.0  1491651069

In [88]:
ratings_df_with_dups.to_csv('../input/all_ratings.csv', index=False)

# Simple Column Conversion
Two ways to do this:
1. Independently defined function
2. Lambda function

In [17]:
ratings_df[ratings_df['timestamp'].isna()]

         userId  movieId  rating  timestamp
7256623   74531    44555     4.0        NaN

In [18]:
ratings_df = ratings_df.dropna(subset=['timestamp'])

In [19]:
def convert_from_timestamp_to_datetime(timestamp: int):
  return datetime.datetime.utcfromtimestamp(timestamp)

In [24]:
ratings_df_with_date_from_function = ratings_df
ratings_df_with_date_from_function['date_rated'] = ratings_df_with_date_from_function['timestamp'].apply(convert_from_timestamp_to_datetime)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
ratings_df_with_date_from_function

         userId  movieId  rating     timestamp          date_rated
0             1      307     3.5  1.256677e+09 2009-10-27 21:00:21
1             1      481     3.5  1.256677e+09 2009-10-27 21:04:16
2             1     1091     1.5  1.256677e+09 2009-10-27 21:04:31
3             1     1257     4.5  1.256677e+09 2009-10-27 21:04:20
4             1     1449     4.5  1.256677e+09 2009-10-27 21:01:04
...         ...      ...     ...           ...                 ...
7256618   74531    38304     5.0  1.287760e+09 2010-10-22 15:07:54
7256619   74531    41014     4.5  1.347335e+09 2012-09-11 03:44:41
7256620   74531    41285     2.0  1.404405e+09 2014-07-03 16:35:29
7256621   74531    42632     4.0  1.353081e+09 2012-11-16 15:56:18
7256622   74531    43444     5.0  1.323805e+09 2011-12-13 19:43:24

[7256623 rows x 5 columns]

In [27]:
ratings_df_with_date_from_lambda = ratings_df
ratings_df_with_date_from_lambda['date_rated'] = ratings_df_with_date_from_lambda['timestamp'].apply(lambda x: datetime.datetime.utcfromtimestamp(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [28]:
ratings_df_with_date_from_lambda

         userId  movieId  rating     timestamp          date_rated
0             1      307     3.5  1.256677e+09 2009-10-27 21:00:21
1             1      481     3.5  1.256677e+09 2009-10-27 21:04:16
2             1     1091     1.5  1.256677e+09 2009-10-27 21:04:31
3             1     1257     4.5  1.256677e+09 2009-10-27 21:04:20
4             1     1449     4.5  1.256677e+09 2009-10-27 21:01:04
...         ...      ...     ...           ...                 ...
7256618   74531    38304     5.0  1.287760e+09 2010-10-22 15:07:54
7256619   74531    41014     4.5  1.347335e+09 2012-09-11 03:44:41
7256620   74531    41285     2.0  1.404405e+09 2014-07-03 16:35:29
7256621   74531    42632     4.0  1.353081e+09 2012-11-16 15:56:18
7256622   74531    43444     5.0  1.323805e+09 2011-12-13 19:43:24

[7256623 rows x 5 columns]

# Now we can look at string manipulation, exploding a column, and regrouping
Goal: Let's get lists of movies for each genre and count how many movies there are of each genre

In [30]:
movies_df['genres_list'] = movies_df['genres'].apply(lambda x: x.split('|'))

Sampling the Data Frame versus just viewing the default rows returned
- sampling allows you to see more of the data
- this lets you eye ball for anything wierd that may not exist in the first and last ten rows

In [32]:
movies_df.sample(20)

,movieId,title,genres,genres_list
25404,116686,Deadly Dreams (1988),Horror|Thriller,"[Horror, Thriller]"
39579,152260,L'odeur de la mandarine (2015),Drama|Romance,"[Drama, Romance]"
12981,61279,Variety Lights (1950),Drama,[Drama]
7019,7130,Darling (1965),Drama,[Drama]
2095,2178,Frenzy (1972),Thriller,[Thriller]
34706,140621,Russell Brand - From Addiction to Recovery (2012),Documentary,[Documentary]
25518,116941,Jetsons: The Movie (1990),Animation|Children|Comedy|Musical|Sci-Fi,"[Animation, Children, Comedy, Musical, Sci-Fi]"
13008,61470,"Boys in Company C, The (1978)",Drama|War,"[Drama, War]"
11210,47124,"Ant Bully, The (2006)",Adventure|Animation|Children|Comedy|Fantasy|IMAX,"[Adventure, Animation, Children, Comedy, Fanta..."
5787,5885,"What to Do in Case of Fire (Was tun, wenn's br...",Comedy|Drama,"[Comedy, Drama]"
6109,6207,"Slaughter Rule, The (2002)",Drama,[Drama]
39204,151433,Mill of the Stone Women (1960),Horror|Sci-Fi,"[Horror, Sci-Fi]"
50376,176199,Altar of Fire (1976),Documentary,[Documentary]
492,496,What Happened Was... (1994),Comedy|Drama|Romance|Thriller,"[Comedy, Drama, Romance, Thriller]"
52902,181871,Sea Salts (1949),Animation,[Animation]
11634,50828,Red Angel (Akai tenshi) (1966),Drama|Romance|War,"[Drama, Romance, War]"
33902,138702,Feast (2014),Animation|Children|Comedy|Drama|Romance,"[Animation, Children, Comedy, Drama, Romance]"
17145,86368,Confessions of a Nazi Spy (1939),Drama,[Drama]
27607,123012,The Daughter of Rosie O'Grady (1950),Comedy,[Comedy]
48093,171341,The Yellow Birds (2017),Drama|War,"[Drama, War]"

Now you can... 
1. Join the ratings to the movies in order to get ratings for all movies
  - Ensure that you did have ratings that didn't have associated movies
  - Make sure you join the right direction
2. Convert the timestamp to somehting readable
  - Check for invalid timestamps?
3. Add a column on the joined df that has the average rating for a given movie
4. Find the average rating for a movie of a specific genere